Repository commercetools/typescript-dev-utilities: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier . --write

BMU-2640: fix typescript error
  packages/sync-actions/src/product-tailoring/product-tailoring.ts
Due: eslint, prettier . --write

BMU-2640: product-tailoring - enable setImages with null values
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/src/product-tailoring/product-tailoring.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

BMU-2640: changeset
  .changeset/forty-eels-ring.md
Due: prettier . --write

BMU-2684: standalone-prices - support staged value via changeValue and removeStagedChanges
  .changeset/staged-standalone-prices.md
  packages/sync-actions/src/prices/prices-actions.ts
  packages/sync-actions/src/prices/prices.ts
  packages/sync-actions/test/price-sync.spec.ts
Due: eslint, prettier . --write

chore: upgrade jsondiffpatch
  package.json
  packages/sync-actions/jest.config.js
  packages/sync-actions/package.json
  yarn.lock
Due: eslint, prettier . --write

feat: upgrade jsondiffpatch
  packages/sync-actions/src/utils/diffpatcher.ts
  packages/sync-actions/src/utils/types.ts
  packages/sync-actions/test/utils/diffpatcher.spec.ts
Due: eslint, prettier . --write

docs: upgrade jsondiffpatch
  .changeset/upgrade-jsondiffpatch.md
Due: prettier . --write

fix: removing rootmode
  jest.config.js
Due: eslint, prettier . --write

refactor: improving comments
  jest.config.js
Due: eslint, prettier . --write

refactor: remmoving unnecessary comments
  packages/sync-actions/src/utils/diffpatcher.ts
  packages/sync-actions/src/utils/types.ts
  packages/sync-actions/test/utils/diffpatcher.spec.ts
Due: eslint, prettier . --write

fix: necessary lint hint
  packages/sync-actions/src/utils/types.ts
Due: eslint, prettier . --write

fix(sync-actions): use correct `Counter` literal for skipConfiguration type
  packages/sync-actions/test/recurring-orders-sync.spec.ts
Due: eslint, prettier . --write

chore(sync-actions): replace `latest` platform-sdk range with `^9.4.0`
  packages/sync-actions/package.json
  yarn.lock
Due: eslint, prettier . --write

docs(changeset): note the platform-sdk range change
  .changeset/pin-platform-sdk-range.md
Due: prettier . --write

fix(resource-deleter): await integration teardown and self-heal setup
  packages/resource-deleter/test/integration/cli.spec.ts
Due: eslint, prettier . --write

fix(resource-deleter): clear fixtures in reverse dependency order
  packages/resource-deleter/test/integration/cli.spec.ts
Due: eslint, prettier . --write

fix(resource-deleter): unpublish products before deleting in clearData
  packages/resource-deleter/test/integration/helpers/helpers.ts
Due: eslint, prettier . --write

fix(ci): pin release npm to 11.x instead of `latest`
  .github/workflows/release.yml
Due: none

ci(qa): serialise runs sharing the integration test project
  .github/workflows/qa.yml
Due: none

Path conditions:
  eslint: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  prettier . --write: (((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)
