Repository commercetools/typescript-dev-utilities: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier . --write

chore(sync-actions): minor type corrections
  packages/sync-actions/package.json
  packages/sync-actions/src/attribute-groups/attribute-groups.ts
  packages/sync-actions/src/business-units/business-units.ts
  packages/sync-actions/src/cart-discounts/cart-discounts.ts
  packages/sync-actions/src/channels/channels.ts
  packages/sync-actions/src/customer-group/customer-group.ts
  packages/sync-actions/src/customers/customers.ts
  packages/sync-actions/src/discount-codes/discount-codes.ts
  packages/sync-actions/src/orders/orders.ts
  packages/sync-actions/src/product-discounts/product-discounts.ts
  packages/sync-actions/src/product-types/product-types.ts
  packages/sync-actions/src/projects/projects.ts
  packages/sync-actions/src/quotes-requests/quote-requests.ts
  packages/sync-actions/src/quotes/quotes.ts
  packages/sync-actions/src/recurring-orders/recurring-orders.ts
  packages/sync-actions/src/shipping-methods/shipping-methods.ts
  packages/sync-actions/src/staged-quotes/staged-quotes.ts
  packages/sync-actions/src/states/states.ts
  packages/sync-actions/src/stores/stores.ts
  packages/sync-actions/src/subscriptions/subscriptions.ts
  packages/sync-actions/src/tax-categories/tax-categories.ts
  packages/sync-actions/src/types/types.ts
  packages/sync-actions/src/zones/zones.ts
Due: eslint, prettier . --write

chore(resource-deleter): add concurrent modification handler
  .changeset/three-insects-punch.md
  packages/resource-deleter/src/main.ts
Due: eslint, prettier . --write

chore(eslint-ignore): ignore node_modules
  eslint.config.mjs
  package.json
  packages/personal-data-erasure/test/unit/main.spec.ts
  packages/resource-deleter/test/unit/main.spec.ts
Due: eslint, prettier . --write

chore(sync-actions): implement feedback
  packages/sync-actions/src/api-extensions/api-extensions.ts
  packages/sync-actions/src/categories/categories.ts
  packages/sync-actions/src/inventories/inventories.ts
  packages/sync-actions/src/products/products.ts
  packages/sync-actions/test/api-extensions-sync.spec.ts
  packages/sync-actions/test/attribute-groups-sync.spec.ts
  packages/sync-actions/test/business-units-sync.spec.ts
  packages/sync-actions/test/cart-discounts-sync.spec.ts
  packages/sync-actions/test/category-sync.spec.ts
  packages/sync-actions/test/channels-sync.spec.ts
  packages/sync-actions/test/customer-group-sync.spec.ts
  packages/sync-actions/test/customer-sync.spec.ts
  packages/sync-actions/test/discount-codes-sync.spec.ts
  packages/sync-actions/test/inventory-sync.spec.ts
  packages/sync-actions/test/price-sync.spec.ts
  packages/sync-actions/test/product-sync-base.spec.ts
  packages/sync-actions/test/product-sync-images.spec.ts
  packages/sync-actions/test/product-sync-variants.spec.ts
  packages/sync-actions/test/shipping-methods.spec.ts
Due: eslint, prettier . --write

chore(eslint-ignore): ignore node_modules
  packages/sync-actions/test/price-sync.spec.ts
Due: eslint, prettier . --write

chore(sync-action): export types
  packages/sync-actions/package.json
  packages/sync-actions/src/index.ts
  packages/sync-actions/src/products/products.ts
  packages/sync-actions/test/product-sync-base.spec.ts
Due: eslint, prettier . --write

chore(sync-action): export types
  packages/sync-actions/package.json
Due: eslint, prettier . --write

chore(sync-actions): update sync-actions
  packages/sync-actions/package.json
  packages/sync-actions/src/business-units/business-units.ts
  packages/sync-actions/src/customers/customer-actions.ts
  packages/sync-actions/src/customers/customers.ts
  packages/sync-actions/src/products/product-actions.ts
  packages/sync-actions/src/recurring-orders/recurring-orders-actions.ts
  packages/sync-actions/src/recurring-orders/recurring-orders.ts
  packages/sync-actions/test/business-units-sync.spec.ts
  packages/sync-actions/test/customer-sync.spec.ts
  packages/sync-actions/test/product-sync-base.spec.ts
  packages/sync-actions/test/recurring-orders-sync.spec.ts
  yarn.lock
Due: eslint, prettier . --write

chore(sync-actions): downgrade typescript
  package.json
  packages/sync-actions/src/utils/types.ts
  yarn.lock
Due: eslint, prettier . --write

chore(sync-actions): fix merge conflicts
  yarn.lock
Due: none

Create gorgeous-llamas-joke.md
  .changeset/gorgeous-llamas-joke.md
Due: prettier . --write

fix(sync-actions): fix issue with ndoe native module
  .changeset/six-grapes-design.md
  packages/sync-actions/esbuild.mjs
Due: prettier . --write

feat: add recurrence policy
  .gitignore
  packages/sync-actions/src/recurrence-policy/recurrence-policy-actions.ts
  packages/sync-actions/src/recurrence-policy/recurrence-policy.ts
  packages/sync-actions/test/recurrence-policy-sync.spec.ts
Due: eslint, prettier . --write

fix: adapt name
  packages/sync-actions/src/recurrence-policy/recurrence-policy.ts
Due: eslint, prettier . --write

fix: add changeset
  .changeset/cute-pears-laugh.md
Due: prettier . --write

fix(extractMatchingPairs): fix ts type for extractMatchingPairs
  packages/sync-actions/src/orders/order-actions.ts
  packages/sync-actions/src/products/product-actions.ts
  packages/sync-actions/src/types/types-actions.ts
  packages/sync-actions/src/utils/extract-matching-pairs.ts
Due: eslint, prettier . --write

feat(sync-actions): implement product tailoring actions and corresponding tests
  packages/sync-actions/src/index.ts
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/src/product-tailoring/product-tailoring.ts
  packages/sync-actions/src/products/product-actions.ts
  packages/sync-actions/src/utils/array-actions-utils.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

feat(sync-actions): add support for product tailoring sync actions
  .changeset/grumpy-weeks-tell.md
Due: prettier . --write

chore(github-action): update release workflow
  .github/workflows/release.yml
Due: none

Change setup step to verify npm version
  .github/workflows/release.yml
Due: none

feat(standalone variant action): create actions for standalone variants
  .changeset/brown-keys-stay.md
  packages/sync-actions/src/index.ts
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
  packages/sync-actions/src/standalone-variants/standalone-variants.ts
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

feat(standalone variant action): helpper function to simplify attributes modification
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
Due: eslint, prettier . --write

test(standalone variant sync): add tests for attribute change handling
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

refactor(standalone variant actions): remove unused baseActionsList and clean up type casting
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

feat(standalone variant actions): add image and asset action handling with corresponding tests
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
  packages/sync-actions/src/standalone-variants/standalone-variants.ts
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

feat(standalone variant action): provide only available actions
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
  packages/sync-actions/src/standalone-variants/standalone-variants.ts
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

feat(standalone variant actions): update publish and unpublish action handling
  packages/sync-actions/src/standalone-variants/standalone-variant-actions.ts
  packages/sync-actions/test/standalone-variants-sync.spec.ts
Due: eslint, prettier . --write

.gitignore intelliJ
  .gitignore
Due: none

BMU-2640: product-tailoring add-asset action - do not specify position when source variant has no pre-existing asset array
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

BMU-2640: add changeset
  .changeset/hungry-moose-hunt.md
Due: prettier . --write

BMU-2640: fix addAsset action generation for product-tailoring when more than one asset is added to a previously undefined asset array
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

BMU-2640: add changeset to fix
  .changeset/plenty-olives-beg.md
Due: prettier . --write

BMU-2640: fix - generate multiple addExternalImage actions when the product-tailoring's source variant does not define an image array
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

BMU-2640: changeset
  .changeset/bitter-moments-drive.md
Due: prettier . --write

BMU-2640: product-tailoring - enable unsetting images
  packages/sync-actions/src/product-tailoring/product-tailoring-actions.ts
  packages/sync-actions/src/product-tailoring/product-tailoring.ts
  packages/sync-actions/test/product-tailoring-sync.spec.ts
Due: eslint, prettier . --write

BMU-2640: changeset
  .changeset/long-hotels-sort.md
Due: prettier . --write

Path conditions:
  eslint: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  prettier . --write: (((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)
