Repository commercetools/typescript-dev-utilities: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier . --write

chore(repo-enhancement): enhance repository
  .github/actions/ci.yml
  .github/workflows/release.yml
  commitlint.config.js
  eslint.config.mjs
  package.json
  packages/personal-data-erasure/jest.config.js
  packages/personal-data-erasure/src/main.ts
  packages/personal-data-erasure/src/utils/types.ts
  packages/personal-data-erasure/test/integration/__snapshots__/cli.spec.ts.snap
  packages/personal-data-erasure/test/integration/cli.spec.ts
  packages/personal-data-erasure/test/integration/helpers/fixtures.ts
  packages/personal-data-erasure/test/integration/helpers/helpers.ts
  packages/personal-data-erasure/test/integration/main.spec.ts
  packages/personal-data-erasure/test/unit/main.spec.ts
  packages/resource-deleter/jest.config.js
  packages/resource-deleter/src/main.ts
  packages/resource-deleter/src/utils/types.ts
  packages/resource-deleter/test/integration/__snapshots__/cli.spec.ts.snap
  packages/resource-deleter/test/integration/cli.spec.ts
  packages/resource-deleter/test/integration/helpers/fixture.ts
  packages/resource-deleter/test/integration/helpers/helpers.ts
  packages/resource-deleter/test/integration/main.spec.ts
  packages/resource-deleter/test/unit/main.spec.ts
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: eslint, prettier . --write

chore(add-custom-objects): include custom objects deletion
  .changeset/fine-toes-look.md
  package.json
  packages/personal-data-erasure/package.json
  packages/personal-data-erasure/src/main.ts
  packages/personal-data-erasure/src/utils/types.ts
  packages/personal-data-erasure/test/integration/cli.spec.ts
  packages/personal-data-erasure/test/integration/main.spec.ts
  packages/resource-deleter/package.json
  packages/resource-deleter/src/main.ts
  packages/resource-deleter/src/utils/types.ts
  packages/resource-deleter/test/integration/cli.spec.ts
  packages/resource-deleter/test/integration/helpers/fixture.ts
  yarn.lock
Due: eslint, prettier . --write

chore(add-codeowners): add github codeowners
  .changeset/config.json
  .github/CODEOWNERS
  .github/workflows/release.yml
Due: eslint, prettier . --write

fix(workflow): fix workflow missing action.yml
  .github/actions/ci/action.yml
  .github/workflows/release.yml
Due: none

fix(workflow): fix workflow missing action.yml
  .github/actions/ci/action.yml
Due: none

fix(workflow): fix workflow action
  .github/workflows/release.yml
Due: none

fix(workflow): fix workflow action
  .github/workflows/release.yml
  .husky/pre-commit
  packages/personal-data-erasure/test/integration/helpers/helpers.ts
  packages/resource-deleter/test/integration/helpers/helpers.ts
Due: eslint, prettier . --write

fix(workflow): fix workflow action
  .github/workflows/release.yml
  package.json
  packages/personal-data-erasure/package.json
  packages/personal-data-erasure/test/integration/cli.spec.ts
  packages/personal-data-erasure/test/integration/main.spec.ts
  packages/resource-deleter/package.json
  packages/resource-deleter/test/integration/cli.spec.ts
Due: eslint, prettier . --write

fix(workflow): fix workflow action
  .github/actions/ci/action.yml
  .github/workflows/release.yml
Due: none

chore(changelog-github): add missing packages
  package.json
  yarn.lock
Due: eslint, prettier . --write

fix(workflow): fix workflow action
  .github/actions/ci/action.yml
  .github/workflows/qa.yml
  .github/workflows/release.yml
Due: none

fix(workflow): fix workflow action
  .github/actions/ci/action.yml
Due: none

fix(workflow): fix workflow action
  .github/workflows/qa.yml
  .github/workflows/release.yml
Due: none

fix(workflow): fix workflow action
  .github/workflows/qa.yml
Due: none

fix(workflow): fix workflow action
  README.md
  packages/personal-data-erasure/README.md
  packages/resource-deleter/README.md
Due: prettier . --write

chore(clean-up): remove commented blocks
  .github/actions/ci/action.yml
  packages/personal-data-erasure/test/integration/cli.spec.ts
  packages/personal-data-erasure/test/integration/helpers/helpers.ts
  packages/personal-data-erasure/test/integration/main.spec.ts
  packages/resource-deleter/test/integration/cli.spec.ts
  packages/resource-deleter/test/integration/helpers/helpers.ts
Due: eslint, prettier . --write

chore(eslint-rule): add eslint rule
  .jest/setEnvVars.js
  eslint.config.mjs
Due: eslint, prettier . --write

Update .github/actions/ci/action.yml
  .github/actions/ci/action.yml
Due: none

chore(actions-commit-hash): update github actions versions
  .github/workflows/qa.yml
  .github/workflows/release.yml
Due: none

chore(renovate): configure renovate
  renovate.json
Due: eslint, prettier . --write

fix(changeset): use yarn
  .github/workflows/release.yml
Due: none

chore(release-packages): change access
  .changeset/curly-rooms-look.md
  packages/personal-data-erasure/CHANGELOG.md
  packages/personal-data-erasure/package.json
  packages/resource-deleter/CHANGELOG.md
  packages/resource-deleter/package.json
Due: eslint, prettier . --write

chore(release-packages): change access and add license filed
  .changeset/smooth-bags-reply.md
  packages/personal-data-erasure/CHANGELOG.md
  packages/personal-data-erasure/package.json
  packages/resource-deleter/CHANGELOG.md
  packages/resource-deleter/package.json
Due: eslint, prettier . --write

[Chore] Add Admin User
  .github/workflows/release.yml
Due: none

Update qa.yml
  .github/workflows/qa.yml
Due: none

chore(eslint-ignore): ignore node_modules
  eslint.config.mjs
  package.json
  packages/personal-data-erasure/test/unit/main.spec.ts
  packages/resource-deleter/test/unit/main.spec.ts
Due: eslint, prettier . --write

chore(eslint-ignore): ignore node_modules
  packages/sync-actions/test/price-sync.spec.ts
Due: eslint, prettier . --write

chore(sync-actions): implement feedback
  packages/sync-actions/src/api-extensions/api-extensions.ts
  packages/sync-actions/src/categories/categories.ts
  packages/sync-actions/src/inventories/inventories.ts
  packages/sync-actions/src/products/products.ts
  packages/sync-actions/test/api-extensions-sync.spec.ts
  packages/sync-actions/test/attribute-groups-sync.spec.ts
  packages/sync-actions/test/business-units-sync.spec.ts
  packages/sync-actions/test/cart-discounts-sync.spec.ts
  packages/sync-actions/test/category-sync.spec.ts
  packages/sync-actions/test/channels-sync.spec.ts
  packages/sync-actions/test/customer-group-sync.spec.ts
  packages/sync-actions/test/customer-sync.spec.ts
  packages/sync-actions/test/discount-codes-sync.spec.ts
  packages/sync-actions/test/inventory-sync.spec.ts
  packages/sync-actions/test/price-sync.spec.ts
  packages/sync-actions/test/product-sync-base.spec.ts
  packages/sync-actions/test/product-sync-images.spec.ts
  packages/sync-actions/test/product-sync-variants.spec.ts
  packages/sync-actions/test/shipping-methods.spec.ts
Due: eslint, prettier . --write

Path conditions:
  eslint: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  prettier . --write: (((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.md)
